<!doctype html>
<html lang="en-US">
<head>
  <title>HOVER</title>
	<meta charset="UTF-8" />
	<style type="text/css">
		div:hover .pic1{
			display: none;
		}
		div:hover .pic2{
			display: inline;
		}
		.pic2{
			display: none;
		}
	</style>
</head>
<body>
	<div>
		<img class="pic1" src="pic1.jpg" alt="Smile" />
		<img class="pic2" src="pic2.jpg"alt="Very smile" />
	</div>
</body>
</html>
