<!doctype html>
<html lang="en-US">
<head>
	<title>HOVER</title>
	<meta charset="UTF-8" />
	<style type="text/css">
		div.header{
			width: 250px;
		}
		div.header:hover .pic1{
			display: none;
		}
		div.header:hover .pic2{
			display: inline;
		}
		div.header .pic2{
			display: none;
		}
	</style>
</head>
<body>
	<div class="header">
		<img class="pic1" src="pic1.jpg" alt="Smile" />
		<img class="pic2" src="pic2.jpg"alt="Very smile" />
	</div>
</body>
</html>
