body{
	background-color:#f8f5e4;
}
table.pics{
	background-color:#40413c;
}
table.up{
	text-align: center;
}
.home{
	color: gray;
	font-size: 35px;
	vertical-align:bottom;
}
.dec{
	color: gray;
	font-size: 35px;
}
.abajor{
	color: gray;
	font-size: 35px;
}
.key{
	color: gray;
	font-size: 35px;
	vertical-align:bottom;
}
a.logo:hover{
	background-image: url(logo3.bmp);
}
a:hover{
	color: black;
	font-weight:bold;
}
